@media screen and (max-width:600px) {
    

        .home-left,
        .home-right,
        .home-container01 {
            display: none;
        }

        
        .navbar-logo-title{
            margin: 0;
        }


        .home-hero1 {
            flex-direction: column;
            gap: 1em;
        }

        .home-container03 {
            align-items: center;
        }

        .section-container {
            padding-top: 30px;
            flex-direction: column;
        }

        .section-heading-section-heading {
            margin-bottom: 24px;
        }
        
        .section-heading-text {
            margin: 0;
            font-size: 22px;
            font-weight: bold;
        }

        .section-heading-text1 {
            font-size: 16px;
        }

        .category-card-category-card {
            flex: 1 1 200px;
        }

        .home-cards-container:after{
            display: block;
            content: '';
            flex: 1 1 200px;
        }

        .home-cards-container{
            grid-gap: 24px;
        }

        .category-card-image {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
        }

        .home-left4 {
            padding: 30px 0;
        }

        .home-content{
            align-items: initial;
            margin: 0 0 12px 0;
        }

        .home-text29 {
            width: auto;
            text-align: center;
        }

        .home-text30 {
            width: auto;
        }

        .home-image6 {
            width: 100%;
        }

        .blog-post-card-blog-post-card {
            max-width: initial;
        }

        .home-links-container {
            order: 1;
        }

        .home-container09 {
            order: 2;
        }

        .home-links-container {
            flex-direction: column;
        }

        .home-footer1 {
            flex-direction: column;
            padding-bottom: 12px;
        }
            

}