.section-banner{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 8em;
}

.section-banner h2 {
    /* word-spacing: 0.4em; */
    letter-spacing: 0.3em;
    font-size: 2.8em;
}

.section-banner p {
    max-width: 28em;
    line-height: 1.2;
}

.section-banner a {
    display: inline-block;
    background-color: #D01919;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    line-height: 1;
}

.section-welcome,
.section-coaches {
    padding: 2em 4em;
}


[class*="section-"] header h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
   
}


[class*="section-"] header h2:after {
    display: block;
    content: '';
    width: 1.5em;
    height: 2px;
    border-radius: 2px;
    margin: 1em auto;
    background: #D01919;
}



.section-welcome {
    background-color: white;
    min-height: 13em;
}

.section-welcome .columns img {
    width: 2.8em;
    margin: 0 auto;
}

.section-welcome .title,
.section-coaches .sub-title {
    color: #D01919;
    font-weight: bold;
    padding: 0.5em 0;
}

.columns .desc {
    color: black;
    line-height: 1.2;
}

.columns {
    display: flex;
    gap: 10em;
}

.columns img{
    display: block;
    width: 100%;
    height: auto;
}

.columns li,
.columns li span{
    display: block;
}

.columns li {
    flex: 1 1 30%;
    text-align: center ;
}

.columns .name{
    font-weight: bold;
}

.section-coaches {
    background-color: #EFEFEF;
}

.section-coaches .columns img{
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.section-coaches .columns .desc {
    color: #999;
}