.section-banner{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 6em;
}

.section-banner h2 {
    /* word-spacing: 0.4em; */
    letter-spacing: 0.3em;
    font-size: 2.8em;
}

.section-banner p {
    max-width: 28em;
    line-height: 1.2;
}

.section-banner a {
    display: inline-block;
    background-color: #D01919;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    line-height: 1;
}

.section-welcome {
    background-color: white;
    min-height: 13em;
}